<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
				<key>dateExpires</key>
				<string>10/6/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LCTrustedSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>BZTNE2VBUD.com.ipay.mobile.VoicePay</string>
						<key>com.apple.developer.team-identifier</key>
						<string>BZTNE2VBUD</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ipay.mobile</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VoicePay.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>310e6fc2-c621-4c1d-a3bd-3260ca6df532</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.ipay.mobile.VoicePay</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3052B4CA830B954F1C537F1828A4331F3BA13E75</string>
						<key>dateExpires</key>
						<string>10/6/20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>BZTNE2VBUD.com.ipay.mobile.VoicePayUI</string>
						<key>com.apple.developer.team-identifier</key>
						<string>BZTNE2VBUD</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ipay.mobile</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VoicePayUI.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>61a304cb-ef14-45cb-938d-fb0cff3b421c</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.ipay.mobile.VoicePayUI</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZTNE2VBUD</string>
						<key>name</key>
						<string>iPay (Private) Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BZTNE2VBUD.com.ipay.mobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>BZTNE2VBUD</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.ipay.mobile</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>iPay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>83d24328-b156-4885-9aa1-7d6197d11f1e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ipay.mobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BZTNE2VBUD</string>
				<key>name</key>
				<string>iPay (Private) Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
